{:registry [{:name "project-facts",
             :image "docker/lsp:latest",
             :entrypoint "/app/result/bin/docker-lsp",
             :command ["project-facts"
                       "--vs-machine-id"
                       "none"
                       "--workspace"
                       "/project"]}
            {:name "linguist",
             :image "vonwig/go-linguist:latest",
             :command ["-json"],
             :output-handler "linguist"}]}
