**/.direnv/
**/result
.clj-kondo
.lsp
/prompts/stable-diffusion/*.png
**/.DS_Store
/functions/tree-sitter/.cpcache/
/functions/tree-sitter/.nrepl-port
/functions/tree-sitter/hs_err_*.log
/functions/tree-sitter/main
/functions/tree-sitter-clj/target/
/functions/tree-sitter-clj/.cpcache/
/.cpcache/
/.nrepl-port
/target/
/qrcode.png
/tools_vector_store/.venv/
/tools_vector_store/tools.db
/tools_vector_store/chroma_db/
/docker-mcp-server.out
/docs/public/**
/docs/public/
/docs/.hugo_build.lock
/functions/memory/memory.json
/log/
