**/.direnv/
**/result
.clj-kondo
.lsp
/prompts/stable-diffusion/*.png
**/.DS_Store
/tools/tree-sitter/.cpcache/
/tools/tree-sitter/.nrepl-port
/tools/tree-sitter/hs_err_*.log
/tools/tree-sitter/main
/tools/tree-sitter-clj/target/
/tools/tree-sitter-clj/.cpcache/
/.cpcache/
/.nrepl-port
/target/
/qrcode.png
/tools_vector_store/.venv/
/tools_vector_store/tools.db
/tools_vector_store/chroma_db/
/docker-mcp-server.out
/**/.DS_Store
